.music {
  &-data {
    align-items: flex-start;
    display: inline-flex;
    gap: 2cqmin;
    width: 100%;

    @media only screen and (width >= 320px) and (width <= 430px) {
      flex-direction: column;
    }
  }

  &-current {
    width: 60%;

    img {
      margin-left: auto;
      margin-top: 6px;
      width: 100%;
    }
  }

  &-top-artists {
    width: 40%;
  }
}
