.music {
  &-data {
    align-items: flex-start;
    display: inline-flex;
    gap: 2cqmin;
    width: 100%;

    @media only screen and (width >= 320px) and (width <= 430px) {
      flex-direction: column;
    }
  }

  &-current {
    img {
      background-color: #fff;
      border-radius: 10px;
      margin-left: auto;
      margin-top: 6px;
      max-width: 500px;
      width: 100%;
    }
  }
}
