@import '../../colours.scss';

.page-not-found {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 80vw;

  h1 {
    color: $main-colour;
    font-size: 100px;
  }

  h3 {
    font-size: 60px;
  }
}
