@import "../../../colours";

.mini-profile {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;

  &-link {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.75cqmin;
    margin-top: 1cqmin;
    width: 100%;

    span {
      margin-left: 1cqmin;
      transition: color 0.5s ease;

      &:hover {
        color: $text-secondary;
      }
    }
  }

  img {
    border-radius: 50%;
    max-width: 200px;
    width: 20vw;
  }

  @media only screen and (width >= 320px) and (width <= 430px) {
    flex-direction: row;
    margin-top: 6cqmin;
    width: 100%;

    img {
      border-radius: 50%;
      margin-right: auto;
      max-width: 40%;
      width: 50vw;
    }

    &-link {
      font-size: 1rem;
      justify-content: flex-start;
    }

    svg {
      margin-left: 2cqmin;
    }
  }
}
