.repo {
	flex: 0 0 25%;
	margin: 10px auto 20px auto;
	background: white;
	border: 1px solid #d0cccc;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	transition: all .8s;
	width: 400px;
	min-width: 400px;
	max-width: 400px;
	min-height: 220px;
	max-height: 220px;
	padding: 10px;
}

.name {
	font-weight: bold;
	font-size: 20px;
}

.language {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.description {
	margin-top: 10px;
}

.stats {
	display: block;
	margin: auto;
	padding-inline-start: 0px;
}

.stats li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	list-style: none;
	font-size: 20px;
}