.reposContainer {
	text-align: center;
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
	margin: 25px 200px;
}

h1 {
	padding: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-align: center;
}

.noRepos {
	text-align: center;
	font-size: 28px;
	padding: 10px;
}