.Github {
	text-align: center;
}

.Github .reposContainer {
	text-align: center;
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
	margin: 25px 200px;
}

.Github h1 {
	font-weight: bold;
}

.Github .noRepos {
	text-align: center;
	font-size: 28px;
	padding: 10px;
}

@media (max-width: 400px) {
	.Github .reposContainer {
		margin: auto;
	}
}