@import '../../colours';

.github {
  background-color: #fff;
  color: $alt-text-colour;
  height: 100%;
  padding: 3% 10%;
  scroll-margin: 75px;
  text-align: center;

  hr {
    border-top: solid 3px;
    max-width: 20%;
    padding: 0;
  }

  h2 {
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .row {
    ::before {
      content: ' ';
      display: table;
    }
  }

  .repo {
    float: left;
    font-size: 20px;
    min-height: 1px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: start;
    width: 50%;

    a {
      &:link,
      &:visited,
      &:active {
        color: $alt-text-colour;
        text-decoration: none;
      }

      &:hover {
        color: $main-colour;
      }
    }

    .stats {
      display: flex;

      li {
        font-size: 16px;
        font-weight: 300;
        list-style: none;
        margin: 0 20px 0 0;
      }
    }

    .title {
      color: $alt-text-colour;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .language {
      color: $main-colour;
      font-size: smaller;
      font-style: italic;
      font-weight: 200;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }

    .description {
      font-weight: 200;
    }
  }
}
