@import "../../colours";

.skills {
  &-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(140px, 140px));

    @media only screen and (width >= 320px) and (width <= 430px) {
      justify-content: center;
    }
  }

  &-skill {
    align-items: center;
    background-color: #2b2c3c;
    border: 2px solid #2b2c3c;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease;

    svg {
      margin-bottom: 0.5rem;
    }

    &:hover {
      border: 2px solid $text-secondary;
      transform: translateY(-4px);
    }
  }
}
