.about {
  align-items: flex-start;
  display: inline-flex;
  gap: 3cqmin;
  width: 100%;

  &-intro {
    margin-bottom: 20px;
  }

  &-spotify {
    &-data {
      align-items: flex-start;
      display: inline-flex;
      gap: 2cqmin;
      width: 100%;
    }

    &-current {
      width: 60%;

      img {
        margin-left: auto;
        margin-top: 6px;
        width: 100%;
      }
    }

    &-top-artists {
      width: 40%;
    }
  }
}
