@import "../../colours";

.navigation {
  background-color: $secondary-colour;
  color: $text-colour;
  height: 77px;
  padding: 20px 25px;
  position: fixed;
  width: 100%;
  z-index: 100;

  .name {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 5px;
    padding: 20px 0;
    text-transform: uppercase;
  }

  .version {
    color: rgb(233, 233, 233);
    font-size: 25px;
    margin-left: 20px;
    opacity: 0.05;
  }

  .link {
    float: right;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 9px 15px 0;
    text-transform: uppercase;

    &:hover {
      color: $primary-colour;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    .link {
      display: none;
    }
  }
}
