.Navigation {
	text-align: center;
}

.Navigation a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.Navigation ul {
	list-style: none;
	margin: 20px;
	padding: 0;
}

.Navigation li {
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	display: inline;
	padding: 15px;
	position: relative;
	transition: all 0.25s linear;
}

.Navigation li:before {
	background-color: #E31B6C;
	bottom: -3px;
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	transform-origin: center;
	transform: scale(0);
	transition: 0.25s linear;
	width: 100%;
}

.Navigation li:hover:before {
	transform: scale(1);
}

.Navigation .active {
	color: blue;
}

.Navigation img {
	width: 20px;
}