.home {
  .content {
    display: inline-flex;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 10%;
    position: absolute;
    height: 80.75vh;

    .text {

      h1 {
        font-size: 70px;
      }

      h2 {
        color: #187bcd;
        font-size: 50px;
        font-weight: lighter;
      }

      p {
        font-size: 30px;
        padding-top: 20px;
        width: 55%;
      }

      .highlight {
        color: #187bcd;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 800px;
      z-index: -1;
    }
  }
}
