.Home {
	margin: 0px 50px 0px 50px;
	padding: 30px 0px 0px 0px;
	text-align: center;
}

.Home h1 {
	font-weight: bold;
}
.Home h2 {
	font-size: 30px;
}

.Home hr {
	background: #fff;
	border: 0;
	height: 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90px;
}

.Home img {
	border-radius: 50%;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 200px;
}