.Home {
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 30px;
	padding-bottom: ;
	text-align: center;
}

.Home h1 {
	font-weight: bold;
}
.Home h2 {
	font-size: 30px;
}

.Home hr {
	background: #fff;
	border: 0;
	height: 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90px;
}

.Home img {
	border-radius: 50%;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 200px;
}