.Contact .entry, form {
	margin: auto;
	text-align: center;
	width: 300px;
	padding-bottom: 40px;
}

.Contact .entry label {
	display: block;
	width: 300px;
	text-align: left;
}

.Contact .entry input {
	border-radius: 10px;
	border-style: none;
	height: 38px;
	outline: none;
	padding: 0px 10px;
	width: 300px;
}

.Contact button {
	background-color: #E31B6C;
	border-radius: 10px;
	border-style: none;
	height: 40px;
	margin-top: 20px;
	outline: none;
	width: 300px;
}

.Contact button:enabled {
	color: white;
	font-weight: bold;
}

.Contact .required {
	color: #E31B6C;
}