.intro {
  // max-height: 300px;
  background-color: #41bc9c;
  color: white;
  font-size: 20px;
  height: 50vh;
  padding: 20px 20%;
  text-align: center;

  img {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    width: 20%;
    margin-bottom: 20px;
  }

  hr {
    border-top: solid 3px;
    max-width: 20%;
    padding: 0;
  }

  h2, h4 {
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}
