.Experience {
	text-align: center;
}

.Experience .tiles {
	display: flex;
	flex-wrap: wrap;
	margin: 25px 200px;
}

.Experience h1 {
	font-weight: bold;
}

@media (max-width: 400px) {
	.Experience .tiles {
		margin: auto;
	}
}