@import '../../colours';

.tile {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  list-style-type: none;
  margin: 60px 0;

  .date {
    font-weight: 400;
    margin-right: 10px;
    max-width: 60px;
    min-width: 60px;
    text-align: center;
    vertical-align: top;
  }

  .icon {
    background: $dark-colour;
    border-radius: 50%;
    margin-top: 20px;
    max-height: 10px;
    min-width: 10px;
  }

  .details {
    margin: 0 20px;

    .company {
      font-size: 28px;
      font-weight: 400;
    }

    .job-title {
      color: $main-colour;
      font-size: 24px;
      font-weight: lighter;
    }
  }
}
