#tile {
	flex: 0 0 25%;
	margin: 10px auto 20px auto;
	background: white;
	border: 1px solid #d0cccc;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	transition: all .8s;
	width: 400px;
	min-width: 400px;
	max-width: 400px;
	min-height: 250px;
	max-height: 250px;
	padding: 10px;
}

#jobTitle {
	font-weight: bold;
	font-size: 30px;
}

#company {
	font-style: italic;
	font-size: 20px;
}

#description {
	margin-top: 10px;
}

#quickInfo {
	display: flex;
	margin: auto;
}

#details {
	float: left;
}

#image {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: auto;
	margin-left: auto;
}

#image img {
	width: 60px;
	height: 60px;
}