@import "../../colours.scss";

.experience {
  background-color: $main-colour;
  color: $main-text-colour;
  height: 100%;
  padding: 3% 15%;
  text-align: center;

  hr {
    border-top: solid 3px;
    max-width: 20%;
    padding: 0;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .row {
    ::before {
      content: " ";
      display: table;
    }
  }

  .job {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    font-size: 20px;

    position: relative;
    text-align: start;
    width: 50%;

    .title {
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $alt-text-colour;
    }

    .company {
      font-weight: lighter;
      letter-spacing: 3px;
    }
    
    .time {
      font-size: smaller;
      font-style: italic;
      letter-spacing: 5px;
    }
    
    .description {
      font-weight: 200;
    }
  }
}
