// $primary-colour: #3b4d61;
// $secondary-colour: #ef9d10ff;
// $text-colour: #6b7b8c;

// This one
$primary-colour: #f5f0e1;
$secondary-colour: #1e3d59;
$text-colour: #ff6e40;

// $primary-colour: #ecc19c;
// $secondary-colour: #1e847f;
// $text-colour: #000;

// $primary-colour: #1d3c45;
// $secondary-colour: #d2601a;
// $text-colour: #fff1e1;

// $primary-colour: #00203FFF;
// $secondary-colour: rgb(131, 204, 171);
// $text-colour: #fff;

// $primary-colour: #00539CFF;
// $secondary-colour: #EEA47FFF;
// $text-colour: #fff;
